package config

func GetParameters() map[string]interface{} {

    return map[string]interface{}{
        "github": map[string]string{
            "github_account": "",
            "github_secret": "",
        },
        "youtrack": map[string]string{
            "url": "",
            "token": "",
        },
    }
}
